vgg_face_weights.h5
SVM.joblib
SVC.joblib
scaler.joblib
scaler_updated.joblib
RFC.joblib
pca_model.joblib
pca_model_updated.joblib
KNN.joblib
embedding_vector.npy
embedding_vector_updated.npy
embedding_labels.npy
embedding_labels_updated.npy
DTC.joblib
dataset.csv
__init__.py
recognized_faces.xlsx
SVC_updated.joblib
frame.jpg
unknown_faces
tempCodeRunnerFile.py
DeliveryPeople
privateFiles.py